body {
    background: #352f5b;
}

.container {
    max-width: 40rem;
}

input[type=text],
input[type=text]:focus {
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 40rem;
}

.todos li{
    color: rgba(255,255,255,0.75);
    background: #423a6f;
}

.delete{
    cursor: pointer;
}

.filtered {
    display: none !important;
}